body {
  margin: 0;
}

.error {
  color: red;
  margin: 0 0 5px;
}

form {
  margin: 10px;
}

button {
  color: #fff;
  background-color: #5eba7d;
  outline: none;
  border: none;
  padding: 10px;
  text-decoration: none;
}

.mb-10 {
  margin-bottom: 10px;
}
